body, html{
  height:100%;
  background-image: url(img/background.gif);
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDeathStar, .LineUp, .shoot{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.XWing, .DeathStar, .explosion{
  position:absolute;
}

.shot{
  position:absolute;
  behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(225deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(225deg);
    /* Opera */
    -o-transform:rotate(225deg);
    /* IE9 */
    -ms-transform:rotate(225deg);
    /* IE6,IE7 */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; 

}